<table class="tabla-estilizada">
    <thead>
        <tr>
            <th>ID Cliente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of arrayClientes">
            <td>{{ item.id_cliente }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.edad }}</td>
            <td>{{ item.estado }}</td>
            <td>
                <button (click)="editarCliente(item)">Editar</button>
                <button (click)="eliminarCliente(item.id_cliente)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<form [formGroup]="nuevoClienteForm" (ngSubmit)="crearCliente()">
    <label for="id_cliente">ID Cliente:</label>
    <input id="id_cliente" formControlName="id_cliente" required [readonly]="clienteEnEdicion">

    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" required>

    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" required>

    <label for="edad">Edad:</label>
    <input id="edad" formControlName="edad" required>

    <label for="estado">Estado:</label>
    <input id="estado" formControlName="estado" required>

    

    <button type="submit">{{ clienteEnEdicion ? 'Actualizar Cliente' : 'Crear Cliente' }}</button>
    
</form>
