body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column; /* Para apilar el formulario y la tabla verticalmente */
    gap: 20px; /* Espacio entre el formulario y la tabla */
}

/* Formulario centrado con bordes redondeados */
form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px; /* Limitar el ancho del formulario */
}

/* Estilo de etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo de los inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

/* Enfoque en los inputs */
input:focus {
    border-color: hsl(58, 80%, 47%);
    outline: none;
}

/* Estilo de los botones */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Tabla centrada y estilizada */
.table-estilizada, .tabla-estilizada {
    width: 80%; /* Establece un ancho del 80% para la tabla */
    max-width: 900px; /* El ancho máximo es de 900px */
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-radius: 10px; /* Bordes redondeados para la tabla */
    overflow: hidden; /* Asegura que no se salgan bordes o sombras */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Estilo de celdas */
.table-estilizada th, .table-estilizada td,
.tabla-estilizada th, .tabla-estilizada td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Cabecera de la tabla */
.table-estilizada th, .tabla-estilizada th {
    background-color: hsl(188, 67%, 47%);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Filas alternadas */
.tabla-estilizada tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover en las filas */
.table-estilizada tr:hover, .tabla-estilizada tr:hover {
    background-color: #ddd;
}

/* Borde redondeado para la última fila */
.table-estilizada tr:last-child td, .tabla-estilizada tr:last-child td {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Botones dentro de la tabla */
.tabla-estilizada button, .table-estilizada button {
    background-color: #620ce4;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tabla-estilizada button:hover, .table-estilizada button:hover {
    background-color: #0056b3;
}
