/* Estilos generales del body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #02160c; /* Fondo verde suave */
    font-family: Arial, sans-serif;
}

/* Estilos del encabezado fijo */
.encabezado-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #de7d16;
    padding: 20px 0; /* Aumentado el padding para separar más los elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: block; /* Cambiado a bloque para poner los elementos en columna */
    z-index: 1000;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el título */
.titulo {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin: 0; /* Eliminado el margen */
}

/* Estilos para el menú de navegación */
.menu-navegacion ul {
    list-style: none;
    margin: 10px 0; /* Márgenes para separar el menú del título */
    padding: 0;
    display: flex;
    justify-content: center; /* Centra los elementos del menú */
    gap: 20px; /* Espacio entre los elementos */
}

.menu-navegacion a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.menu-navegacion a:hover {
    background-color: #1de9b6;
    transform: scale(1.05);
}

/* Estilos para el contenido */
.contenido {
    padding: 20px;
    margin-top: 120px; /* Asegura que el contenido no se oculte bajo el encabezado fijo */
}
